body {
    background-color: #0c2438;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.box {
    width: 500px;
    height:20px;
    border-radius: 5px;
    border: whitesmoke solid 1px;
    
}

.button {
    border-radius: 5px;
    height: 40px;
    background-color: greenyellow;
    border: rgb(3, 64, 68) solid 1px;

}
.search-adv {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25%;
    color: whitesmoke;
    
}

.button-adv {
    border-radius: 5px;
    height: 40px;
    background-color: blue;
    border: rgb(3, 64, 68) solid 1px;
    color: whitesmoke;
    margin-top: 10px;
    margin-left: 150px;
}