body {
    background-color: #0c2438;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.box {
    width: 500px;
    height:20px;
    border-radius: 5px;
    border: whitesmoke solid 1px;
    
}

.button {
    border-radius: 5px;
    height: 40px;
    background-color: greenyellow;
    border: rgb(3, 64, 68) solid 1px;

}
.search-adv {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25%;
    color: whitesmoke;
    
}

.button-adv {
    border-radius: 5px;
    height: 40px;
    background-color: blue;
    border: rgb(3, 64, 68) solid 1px;
    color: whitesmoke;
    margin-top: 10px;
    margin-left: 150px;
}



/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}


.lJ9FBc input[type="submit"], .gbqfba {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.lJ9FBc input[type="submit"]:hover {
    box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
    background-color: #303134;
    border: 1px solid #5f6368;
    color: #e8eaed;
}
